<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mycamera">

    <application>
        <activity
            android:name=".CameraActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullScreen"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>